@import url('https://fonts.googleapis.com/css?family=Inter:regular,bold,italic&subset=latin,latin-ext');
@import url('https://fonts.googleapis.com/css?family=Montserrat:regular,bold,italic&subset=latin,latin-ext');

$main-bg: rgba(186, 246, 186, 0.45);
$card-bg: rgb(43,46,56);
$fonts-color: rgb(39, 39, 51);
$border-color: #4d2912;
$buttons-color: rgb(46,125,50);

$font-family-base: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;;
