@import "./src/assets/scss/variable";

.weatherMain {
  width: 20%;
  border: 1px solid $border-color;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  font-size: 16px;
  font-style: italic;
  height: 300px;
  justify-content: center;

  .city {
    font-size: 30px;
    text-decoration: underline;
  }

  .temperature {
    font-weight: bold;
  }

  .img {
    border: 1px solid $border-color;
    border-radius: 10px;
  }

  .date {
    width: 70%;
    word-break: break-word;
  }
}
